@import url('https://fonts.googleapis.com/css2?family=Squada+One&family=Mukta+Malar:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mukta Malar', sans-serif;
    font-size: 16px;
    color: #282828;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Squada One', cursive;
    color: #282828;
    margin: 10px 0;
    font-weight: 300;
}

p {
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}



/* Dark theme */

.bg-dark {
    background: #282828;
    color: #ebdbb2;
}

.bg-dark .card {
    background: #ebdbb2;
    color: #282828;
}

.bg-dark .box {
    border: 1px solid #ebdbb2;
}

.bg-dark .hero .hero-content .hero-title {
    color: #ebdbb2;
}


/* General Styling */

.container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.box {
    border: 1px solid #282828;
    margin: 0 5px 10px;
    padding: 10px 15px;
    text-align: center;
    height: 100%;
}

.box-1 {
    background: #282828;
    color: #ebdbb2;
}

.box-2 {
    background: #ebdbb2;
    color: #282828;
}

.box-3 {
    background: #98971a;
    color: #282828;
}

.box-4 {
   background: #b8bb26; 
}

.box-5 {
    background: #d79921;
}

.box-6 {
    background: #fabd2f;
}

.box-7 {
    background: #458588;
}

.box-8 {
    background: #83a588;
}

.box-9 {
    background: #b16286;
}

.box-10 {
    background: #d3869b;
}

.box-11 {
    background: #689d6a;
}

.box-12 {
    background: #8ec07c;
}



/* Utilities */

.shadow-1 {
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.4);
}


/* Flexbox grid system */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    flex: 0 0 100%;
}

.col-11 {
    flex: 0 0 calc(100% / 12 * 11);
}

.col-10 {
    flex: 0 0 calc(100% / 12 * 10);
}

.col-9 {
    flex: 0 0 calc(100% / 12 * 9);
}

.col-8 {
    flex: 0 0 calc(100% / 12 * 8);
}

.col-7 {
    flex: 0 0 calc(100% / 12 * 7);
}

.col-6 {
    flex: 0 0 calc(100% / 12 * 6);
}

.col-5 {
    flex: 0 0 calc(100% / 12 * 5);
}

.col-4 {
    flex: 0 0 calc(100% / 12 * 4);
}

.col-3 {
    flex: 0 0 calc(100% / 12 * 3);
}

.col-2 {
    flex: 0 0 calc(100% / 12 * 2);
}

.col-1 {
    flex: 0 0 calc(100% /12 * 1);
}




/* Cards */

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #282828;
    margin: 0 10px 10px;
}

.card-content {
    padding: 15px;
    text-align: justify;
}

.card-action {
    border-top: 1px solid #282828;
    padding: 20px 15px 25px;
}



/* Buttons */

.btn {
    background: #282828;
    color: #ebdbb2;
    padding: 5px 20px;
    border: none;
    height: 30px;
    cursor: pointer;
}

.btn-blue {
    background: #83a588;
}

.btn-dark-blue {
    background: #458588;
}

.btn-dark-green {
    background: #98971a;
}

.btn-green {
    background: #b8bb26;
}

.btn-red {
    background: #fb4934;
    color: #ebdbb2;
    padding: 5px 20px;
}

.btn-dark-red {
    background: #cc241d; 
    color: #ebdbb2;
}



/* Form */

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    color: #928374;
    font-size: 12px;
    margin: 10px 0 5px;
}



/* Hero */

.hero {
    height: 50vh;
    width: 100%;
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero .hero-content .hero-title {
    font-size: 48px;
}

.hero .hero-content p {
    font-weight: 500;
}
